.rating {
    background-color: hsl(213, 19%, 18%);
    height: 400px;
    width: 400px;
    border-radius: 30px;
}

.star-container {
    background-color: hsl(213, 19%, 25%);
    position: relative;
    height: 40px;
    width: 40px;
    top: 25px;
    left: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    padding: 0 20px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}


.content h1 {
    color: hsl(0, 0%, 100%);
    margin: 0;
    font-size: 30px;
}

.content p {
    color: hsl(217, 12%, 54%);
    line-height: 1.5;
}

.rating-container {
    display: flex;
}


.rating-btn {
    background-color: hsl(213, 19%, 25%);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 3%;
}

.rating-btn:nth-child(1){
    margin-left: 0;
}
.rating-btn:nth-child(5){
    margin-right: 0;
}

.rating-btn:hover {
    background-color: hsl(25, 97%, 53%);
}

.rating-btn:hover p {
    color: hsl(0, 0%, 100%);
}

.rating-btn-active {
    background-color: hsl(217, 12%, 63%);
}

.rating-btn-active p {
    color: hsl(0, 0%, 100%);
}

.btn{
    width: 95%;
    margin-top: 15px;
    background-color: hsl(25, 97%, 53%);
    border-radius: 50px;
    height: 45px;
}

.btn p{
    margin: 0;
    text-align: center;
    margin-top: 13px;
    letter-spacing: 2px;
    color: hsl(0, 0%, 100%);
}

.btn:hover{
    background-color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.btn:hover p{
    color: hsl(25, 97%, 53%);
}

@media only screen and (max-width: 400px){
    .rating{
        width: 350px;
    }
}

@media only screen and (max-width: 375px){
    .rating{
        width: 325px;
    }
    .rating-btn{
        height: 40px;
        width: 40px;
    }
}