.App{
    height: 100vh;
    background-color: hsl(216, 12%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    margin: 0;
    font-family: 'Overpass', sans-serif;
}

p{
    font-size: 15px;
}